# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build / distribution
build/
dist/

# Logs
*.log

# Data
data/raw/*

!data/raw/.gitkeep
